:root {
    --primary-color: #f8f68b;
    --secondary-color: #7d89fc;
    --third-color: #000000;
    --fourth-color: #e2e2e2;
    --grid-projects-template-color: #aaaaaa;
    --visited-anchor-color: #7217bd;
    --hover-focus-anchor-color: #1b3dff;
    --active-anchor-color: #f70909;
    --font-family: 'Indie Flower', sans-serif;
    --header-font-weight: 900;
    --header-font-size: 140%;
    --header-line-height: 1.5;
    --body-font-weight: 400;
    --body-font-size: 20px;
    --body-line-height: 1.35;
    --cursor-style: pointer;
}

header {
    /* ----------------------All pages*/
    background-color: var(--primary-color);
    font-family: var(--font-family);
    font-weight: var(--header-font-weight);
    font-size: var(--header-font-size);
    line-height: var(--header-line-height);
    border-bottom-style: double;
    border-bottom-width: 2px;
    border-bottom-color: var(--third-color);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.page-header {
    /* ----------------------All pages*/
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.page-logo {
    /* ----------------------All pages*/
    font-size: 250%;
    padding: 2%;
    margin: 0px;
    font-weight: 200;
}

#logo-second-part {
    /* ----------------------All pages*/
    font-weight: 900;
    color: #fa4f24;
}

.page-header-image {
    /* ----------------------All pages*/
    max-width: 95px;
}


.page-header__item {
    /* ----------------------All pages*/
    flex: 0 1 200px;
    padding: 2%;
    font-weight: var(--header-font-weight);
    font-size: var(--header-font-size);
}

.page-header__item:last-child {
    /* ----------------------All pages*/
    flex-grow: 1;
    text-align: right;
}

body {
    /* ----------------------All pages*/
    font-family: 'Indie Flower', sans-serif;
    font-weight: 400;
    text-align: center;
}

h1 {
    /* ----------------------All pages*/
    font-size: 100px;
    font-weight: 900;
}

#home-page-title {
    /* -----------------------Home page*/
    margin: 4%;
}

a:visited {
    /* ----------------------All pages*/
    /* color of the visited link */
    color: var(--visited-anchor-color)
}

a:hover,
a:focus {
    /* ----------------------All pages*/
    /* No underlining and links change to blue when hovering over */
    color: var(--hover-focus-anchor-color);
    text-decoration: none;
}

a:active {
    /* ----------------------All pages*/
    /* color of the selected link */
    color: var(--active-anchor-color);
}

@media all and (min-width: 350px) and (max-width: 500px) {

    h1 {
        /* ----------------------All pages*/
        font-size: 40px;
    }

    .pokemon-button-class {
        /* ----------------------Home page*/
        width: 60%;
        background-color: var(--primary-color);
    }

    .page-logo {
        /* ----------------------All pages*/
        padding: 2%;
        margin: 0px;
        font-weight: 200;
        text-align: left;
        margin: -110px 100px 0px 10px;
        font-size: 26px;
    }

    .page-header-image {
        /* ----------------------All pages*/
        max-width: 95px;
        margin-left: -230px;
        margin-top: 40px;
        margin-bottom: 10px;
    }

    .page-header__item:last-child {
        /* ----------------------All pages*/
        flex-grow: 1;
        text-align: right;
        font-size: 26px;
    }

    .navigation-list {
        /* ----------------------All pages*/
        list-style-type: none;
        display: inline-grid;
        margin: 0px;
    }

}

@media all and (min-width: 501px) and (max-width: 750px) {

    h1 {
        /* ----------------------All pages*/
        font-size: 60px;
    }

    .pokemon-button-class {
        /* ----------------------Home page*/
        width: 50%;
        background-color: var(--primary-color);
    }

    .page-logo {
        /* ----------------------All pages*/
        padding: 2%;
        margin: 0px;
        font-weight: 200;
        text-align: left;
        margin: -100px 170px 10px 0px;
        font-size: 38px;
    }

    .page-header-image {
        /* ----------------------All pages*/
        max-width: 95px;
        margin-left: -320px;
        margin-top: 40px;
        margin-right: 90px;
    }

    .navigation-list {
        /* ----------------------All pages*/
        list-style-type: none;
        display: inline-grid;
        margin: 0px;
    }
}


footer {
    /* ----------------------All pages*/
    background-color: var(--primary-color);
    font-family: var(--font-family);
    font-weight: var(--body-font-weight);
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
    border-top-style: double;
    border-top-width: 2px;
    border-top-color: var(--third-color)
}

.page-footer {
    /* ----------------------All pages*/
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#footer-title {
    /* ----------------------All pages*/
margin-top: 20px;
}