:root {
    --primary-color: #f8f68b;
    --secondary-color: #000000;
    --font-family: 'Indie Flower', sans-serif;
    --header-font-weight: 900;
    --header-font-size: 140%;
    --header-line-height: 1.5;
    --body-font-weight: 400;
    --body-font-size: 20px;
    --body-line-height: 1.35;
}

header {
    background-color: var(--primary-color);
    font-family: var(--font-family);
    font-weight: var(--header-font-weight);
    font-size: var(--header-font-size);
    line-height: var(--header-line-height);
    border-bottom-style: double;
    border-bottom-width: 2px;
    border-bottom-color: var(--secondary-color);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.page-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.page-logo {
    font-size: 220%;
    padding: 2%;
    margin: 0px;
    font-weight: 200;
}

#logo-second-part {
    font-weight: 900;
    color: #fa2424;
}

.page-header-image {
    max-width: 95px;
    margin-right: 60px;
}

.navbar {
    display: block;
}

body {
    font-family: 'Indie Flower', sans-serif;
    font-weight: 400;
    text-align: center;
}

h1 {
    font-size: 90px;
    font-weight: 900;
    margin: unset;
}

.page-title {
    margin: 4%;
}

.pokemon-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    border-style: none;
}

.list-group-item {
    border: none;
}

.btn-block {
    background-color: #fa2424;
}

.modal-header {
    display: flex;
    flex-direction: column-reverse;
    align-items: unset;
    border-bottom: 2px solid var(--secondary-color);

}

.modal-content {
    background-color: #f3eba1;
}

.btn-secondary {
    color: #fff;
    background-color: #212529;
}

.modal-footer {
    border-top: none;
}

footer {
    background-color: var(--primary-color);
    font-family: var(--font-family);
    font-weight: var(--body-font-weight);
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
    border-top-style: double;
    border-top-width: 2px;
    border-top-color: var(--secondary-color)
}

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#footer-title {
    margin-top: 20px;
}

#footer-image {
    margin-bottom: 25px;
    max-width: 300px;
}

#contact-page-text {
    margin: 4%;
}

@media all and (min-width: 526px) and (max-width: 767px) {

    h1 {
        font-size: 60px;
    }

    .page-logo {
        padding: 5%;
        margin: 0px;
        font-weight: 200;
        text-align: left;
        font-size: 48px;
    }

    .page-header-image {
        display: none;
    }

    .pokemon-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        border-style: none;
    }

    #footer-image {
        margin-bottom: 25px;
        max-width: 230px;
    }
}

@media all and (min-width: 361px) and (max-width: 525px) {

    h1 {
        font-size: 45px;
    }

    .page-logo {
        padding: 5%;
        margin: 0px;
        font-weight: 200;
        text-align: left;
        font-size: 40px;
    }

    .page-header-image {
        display: none;
    }

    .pokemon-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        border-style: none;
    }

    #footer-image {
        margin-bottom: 25px;
        max-width: 150px;
    }
}

@media all and (min-width: 200px) and (max-width: 360px) {

    h1 {
        font-size: 30px;
    }

    .page-logo {
        padding: 5%;
        margin: 0px;
        font-weight: 200;
        text-align: left;
        font-size: 28px;
    }

    .page-header-image {
        display: none;
    }

    .pokemon-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        border-style: none;
    }

    #footer-image {
        margin-bottom: 25px;
        max-width: 150px;
    }
}